/Lista1/nbproject/private/
/Lista1/build/
/Lista2/nbproject/private/
/Lista2/build/
/Lista3/nbproject/private/
/Lista3/build/
/Lista3-N/nbproject/private/
/Lista3-N/build/
/Lista4/nbproject/private/
/Lista4/build/
/Lista5/nbproject/private/
/Lista5/build/
/ProvaBin1/nbproject/private/
/ProvaBin1/build/
/ProvaDailon/nbproject/private/
/.metadata/
/ProvaDailon/build/